/* Setting variables for the main colors */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-background: #f7f9fa;
  --color-icon-background: #f3f9fa;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  /* set font size for a base of 10px */
  font-size: 62.5%;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 3rem;
  font-weight: bold;
  text-transform: capitalize;
}
h1,
h2,
h3,
p {
  line-height: 1.5;
}

h1 {
  font-size: 7rem;
  word-spacing: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  color: #fff;
}

h2 {
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

h3 {
  font-size: 3rem;
  margin: 25px 0;
}

p {
  margin-top: 0;
  margin-bottom: 4.5rem;
}
/* Buttons */

.btn {
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 40px;
  align-items: center;
  white-space: nowrap;
}
button:hover {
  cursor: pointer;
}
.btn--accent,
.btn--secondary,
.btn--primary {
  color: #fff;
}
.btn--small {
  padding: 7px 20px;
}
.btn--big {
  padding: 25px 0;
}
.btn--accent {
  background-color: var(--color-accent);
}
.btn--primary {
  background-color: var(--color-primary);
}
.btn--secondary {
  background-color: var(--color-secondary);
}
/* Menu and Logo section */
.menu {
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
}
.menu--list {
  display: none;
}
.logo {
  font-size: 3.7rem;
  font-weight: bold;
  color: #fff;
}
.logo-img {
  width: 35rem;
  padding: 4.5rem 3rem;
}
.menu-burger {
  fill: #fff;
  width: 15rem;
  height: 15rem;
  margin-right: 30px;
}
/* 100% width */
.full-width {
  width: 100%;
}

/* Banner section */
.container--banner {
  background-color: black;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}
.banner {
  margin-bottom: 80px;
  padding: 100px 50px;
}
.banner--heading {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.banner-btn {
  padding-left: 140px;
  padding-right: 140px;
}
.banner-slogan {
  letter-spacing: 0.4rem;
}

/* main */
main {
  padding: 0 3rem;
}
.section-intro {
  text-align: center;
}
.search {
  display: flex;
  border-radius: 50px;
  padding: 0.5rem 0.5rem 0.5rem 5rem;
}
.search-bar {
  border: none;
  font-size: 2rem;
}
.search-bar:focus {
  outline: none;
}
.search-btn {
  display: flex;
  padding-right: 4.5rem;
  padding-left: 4.5rem;
}

/*Monthly plan section */
.monthly-plans {
  margin: 7rem 4.5rem;
}
.domain-prices {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 45px 0;
  color: var(--color-headings);
  font-weight: bold;
  gap: 3rem 2rem;
  list-style: none;
  text-align: center;
}

.domain--special {
  width: 130px;
  margin: 0 auto;
  text-align: center;
}

/* card */
.card,
.card-header {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.card {
  background-color: #fff;
  margin-bottom: 40px;
}

.card-name,
.card--description,
.card--billing--plan {
  margin-bottom: 2rem;
}
.card-header {
  background-color: var(--color-secondary);
  color: #fff;
  padding: 3rem 4rem 1rem;
}
.card--billing--plan {
  display: flex;
  align-items: center;
}
.card-name,
.card-price-discount {
  font-weight: bold;
}

.card-price {
  font-size: 5.5rem;
  margin-right: 1rem;
}
.card-cost .btn {
  margin-left: 15px;
}

.card-body {
  padding: 45px 30px;
  color: var(--color-headings);
}
.card-body-business {
  padding-bottom: 60px;
}
.card-btn {
  background-color: #fff;
  color: var(--color-headings);
  border: 3px solid var(--color-headings);
}
.card-header-primary {
  background-color: var(--color-primary);
}

.card-business .card-price-discount {
  background-color: var(--color-secondary);
}
.card-btn-primary {
  background-color: var(--color-headings);
  color: #fff;
}
/* list */

.list--tick {
  list-style: url(./icons/tick.svg);
  margin-bottom: 70px;
}
.list--tick__item {
  margin-bottom: 4rem;
  padding-left: 1rem;
}

.container--user-friendly {
  background-color: #000;
  padding: 3rem 5rem 15rem;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 91%);
}
.container--user-friendly h2,
.container--user-friendly h3 {
  color: #fff;
}

.user-friendly-benefits {
  display: flex;
  align-items: flex-start;
}
.user-friendly-benefits svg {
  flex-basis: content;
  margin-top: 25px;
}

.customers {
  padding: 0 3rem;
  margin-bottom: 50rem;
}
.customer-container {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  position: relative;
}
.customer-container-img {
  width: 420px;
  position: relative;
}
.customer-img {
  width: 420px;
}
.customer-container-icon {
  background-color: var(--color-accent);
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: -13%;
}
.customer-icon {
  fill: #fff;
}
/* box-shadow */
.box-shadow {
  box-shadow: 0 0 30px var(--color-body);
}
/* links */
a {
  text-decoration: none;
}
.link-arrow {
  text-transform: uppercase;
  color: var(--color-accent);
  font-weight: bold;
  margin-bottom: 50px;
  display: inline-block;
}
.link-arrow::after {
  content: "-->";
}

/* section container */
.section-container {
  margin: 90px 0;
}
/* align text */
.align-center {
  text-align: center;
}

/*SVG icons */
.icon-container {
  background-color: var(--color-icon-background);
  border-radius: 100%;
  padding: 20px;
  display: inline-block;
}
.icon {
  width: 50px;
  height: 50px;
}

.user-friendly-icon {
  width: 5rem;
  margin-right: 3rem;
  margin-top: 3rem;
}
.icon--search {
  padding: 0;
  fill: #fff;
}
.icon--primary {
  fill: var(--color-primary);
}
.customer-name {
  display: flex;
  align-items: flex-start;
}
.customer-name img {
  width: 5rem;
}
.customer-name h3,
.customer-name p {
  margin: 0;
  text-align: left;
}
.customer-name div {
  margin-left: 2rem;
}
.customer-name img {
  margin-top: 2.5rem;
}
.customer-text {
  padding: 5rem;
}

/* content width */
@media screen and (min-width: 1024px) {
  .container--narrow {
    max-width: 1200px;
    margin: 0 auto;
  }
  .menu-burger {
    display: none;
  }
  .menu--list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-basis: 50%;
    justify-content: space-around;
  }
  .menu--list li:hover {
    transition: color 0.5s;
    cursor: pointer;
    color: var(--color-accent);
  }
  .banner {
    display: flex;
    flex-direction: row;
  }
  .banner-btn {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.5rem;
  }
  .banner--heading {
    flex-basis: 50%;
    align-items: flex-start;
  }
  .banner--container--img {
    flex-basis: 50%;
  }
  h1 {
    text-align: left;
  }
  .monthly-plans {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 0 2%;
  }
  .card-header {
    padding: 2rem 3rem;
  }
  .card-name,
  .card-body .btn,
  .card--plan {
    font-size: 1.4rem;
  }
  .card-price {
    font-size: 5rem;
  }
  .card-header .btn {
    font-size: 1.2rem;
  }
  .card--description,
  .list--tick {
    font-size: 1.8rem;
  }
  .card--description,
  .card--plan,
  .card-header .btn {
    opacity: 80%;
  }
  .card {
    margin-bottom: 0;
    border-radius: 20px;
  }
  .card-header .btn {
    padding: 5px 10px;
  }
  .card-name,
  .card--description,
  .card--billing--plan {
    margin-bottom: 1rem;
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .card--description {
    margin: 0;
  }
  .list--tick {
    margin-bottom: 0;
  }
  .list--tick__item {
    margin-bottom: 2rem;
  }
  .card-body .btn {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }
  .card--billing--plan {
    margin: 0;
    line-height: 1.2;
  }
  .card--primary {
    margin-bottom: 0;
  }
  .card-header-primary {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .card-body-business {
    height: 360px;
  }
}
